#canvas {
    border: 1px solid black;
    background-color: black;
    /* background:url("http://r.photo.store.qq.com/psb?/V11W1Iwd1P1Fah/WSQZJwvA60rvGGSiLkbqehBoMB7ZoNLsN1rK3df2W3I!/r/dAwBAAAAAAAA"); */
}

#game {
    color: blue;
}